.ma-gallery-controls {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: auto;

  text-align: center;

  pointer-events: none;

  transition: opacity 0.5s ease-out;
  will-change: opacity;
  opacity: 0;
}
.ma-gallery-controls[data-active="true"] {
  pointer-events: auto;

  opacity: 1;
}
.ma-gallery-controls-wrapper {
  display: inline-flex;
  align-items: center;
}
.ma-gallery-controls-wrapper > * {
  margin: .5rem;
  flex: 1 1 auto;
}
.ma-gallery-controls__icon {
  pointer-events: none;
}
.ma-gallery-controls__btn {
  outline: none;
  padding: 0;
  background-color: transparent;
  border: 0;
}
[data-muted="true"] [data-unless="muted"],
[data-if="muted"],
[data-paused="true"] [data-unless="paused"],
[data-if="paused"] {
  display: none;
}
[data-muted="true"] [data-if="muted"],
[data-paused="true"] [data-if="paused"] {
  display: block;
}

.ma-gallery-controls progress {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
}
.ma-gallery-controls progress[value]::-webkit-progress-bar {
  border-radius: 0;
  background-color: blue;
}
.ma-gallery-controls progress[value]::-webkit-progress-value {
  background-color: aqua;
}

.ma-gallery-controls input[type=range] {
  display: inline-block;
  width: 100%;
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  appearance: none;
  background: transparent; /* Otherwise white in Chrome */
  vertical-align: middle;
}

.ma-gallery-controls input[type=range]:focus {
  outline: none;
 }


.ma-gallery-controls input[type=range]::-webkit-slider-runnable-track {
  background-color: blue;
  -webkit-appearance: none;
  appearance: none;
}

.ma-gallery-controls input[type=range]::-moz-range-track {
  background-color: blue;
  -webkit-appearance: none;
  appearance: none;
}

.ma-gallery-controls input[type=range]::-ms-track {
  background-color: blue;
  -webkit-appearance: none;
  appearance: none;
}

/* Special styling for WebKit/Blink */
.ma-gallery-controls input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  width: 8px;
  background: white;
  cursor: pointer;
}

/* All the same stuff for Firefox */
.ma-gallery-controls input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  width: 8px;
  background: white;
  cursor: pointer;
}

/* All the same stuff for IE */
.ma-gallery-controls input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 8px;
  width: 8px;
  background: white;
  cursor: pointer;
}