/* base */
:host {
  display:block;
  width: 100%;
  height:100%;
  position: relative;
  overflow: hidden;
  font-family: sans-serif;
  color: blue;
}
.ma-gallery-frame {
  position: relative;
  width: 100%;
  height: 100%;
}
.ma-gallery-view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ma-gallery-view__media,
.ma-gallery-view__poster {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.ma-gallery-view__media--cover,
.ma-gallery-view__poster--cover {
  object-fit: cover;
}

/* meta */
.ma-gallery-view__meta {
  position: absolute;
  bottom: 2rem;
  left: 0;
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none;

  transition: opacity 0.5s ease-out;
  will-change: opacity;
  opacity: 0;
}
.ma-gallery-view__meta[data-active="true"] {
  opacity: 1;
  pointer-events: auto;
}

/* navigation */
.ma-gallery-nav {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  align-items: center;
  justify-content: space-between;

  pointer-events: none;

  transition: opacity 0.5s ease-out;
  will-change: opacity;
  opacity: 0;
}
.ma-gallery-nav[data-active="true"] {
  opacity: 1;
}
.ma-gallery-nav__btn {
  pointer-events: auto;
  padding: 0;
  background-color: transparent;
  border: 0;
  outline: none;
  margin: 1rem;
}
.ma-gallery-nav__btn * {
  pointer-events: none;
}

/* transition */
.ma-gallery-view {
  transition: opacity 0.5s ease-out;
  will-change: opacity;
}
.ma-gallery-view-enter--next {
  opacity: 0;
}
.ma-gallery-view-leave--next {
  opacity: 0;
}
.ma-gallery-view-enter--prev {
  opacity: 0;
}
.ma-gallery-view-leave--prev {
  opacity: 0;
}